<body>
  <header class="sidebar">
    <app-navbar></app-navbar>
  </header>
  <div class="main">
    <div class="main-container">
      <h2>Change Password</h2>
      <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <div class="form-group">
          <label for="oldPassword">Old Password:</label>
          
          <span
            *ngIf="
              oldPasswordErrorMessage &&
              changePasswordForm.get('oldPassword')?.touched
            "
            style="color: red"
          >
            {{ oldPasswordErrorMessage }}
          </span>
          <input
            type="password"
            id="oldPassword"
            formControlName="oldPassword"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="newPassword">New Password:</label>
          
          <span
            *ngIf="
              newPasswordErrorMessage &&
              changePasswordForm.get('newPassword')?.touched
            "
            style="color: red"
          >
            {{ newPasswordErrorMessage }}
          </span>
          <input
            type="password"
            id="newPassword"
            formControlName="newPassword"
            class="form-control"
          />
        </div>
        <button type="submit" class="btn btn-primary">Change Password</button>
      </form>
    </div>
  </div>
</body>
